POSTGRES_DB=iot_demo
POSTGRES_USER=iot_demo
POSTGRES_PASSWORD=iot_demo_password
WEB_PORT=3000

POSTGRES_HOST_PORT=5434

INGEST_TOKEN=

INGEST_RATE_LIMIT_PER_MIN=0

DASHBOARD_PASSWORD=

SESSION_SECRET=

BRIDGE_API_TOKEN=
ADMIN_API_TOKEN=
